.hex:before {
  content: " ";
  width: 0;
  height: 0;
  border-bottom: 30px solid #6c6;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
  position: absolute;
  top: -30px;
}

.hex {
  margin-top: 30px;
  width: 104px;
  height: 60px;
  background-color: #6c6;
  position: relative;
  margin-bottom: 30px;
}

.hex:after {
  content: "";
  width: 0;
  position: absolute;
  bottom: -30px;
  border-top: 30px solid #6c6;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}
.div {
  background-color: black;
  width: 100px;
  height: calc(100px * 1.1547);
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}

.hexagon {
  top: 30vh;
  left: 40%;
  position: absolute;
  margin: 0 auto;
  background-color: dodgerblue;
  border-radius: 10px;
  width: 100px;
  height: 63px;
  box-sizing: border-box;
  transition: all 1s;
  border: 0.4vh solid transparent;
}

/* Creating pseudo-class */
.hexagon:before,
.hexagon:after {
  content: "";
  border: inherit;
  position: absolute;
  top: -0.5vh;
  left: -0.5vh;
  background-color: dodgerblue;
  border-radius: inherit;
  height: 100%;
  width: 100%;
}

/* Align them in such a way
  that they form a hexagon */
.hexagon:before {
  transform: rotate(60deg);
}
.hexagon:after {
  transform: rotate(-60deg);
}

.hex-update {
  margin-top: 30px;
  width: 104px;
  height: 60px;
  background-color: green;
  border-color: green;
  position: relative;
  display: inline-block;
}
.hex-update:before {
  content: " ";
  width: 0;
  height: 0;
  border-bottom: 30px solid;
  border-color: inherit;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
  position: absolute;
  top: -30px;
}
.hex-update:after {
  content: "";
  width: 0;
  position: absolute;
  bottom: -30px;
  border-top: 30px solid;
  border-color: inherit;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}

/* body {
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(18deg, #e37682, #a58fe9);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  } */

.hexagon-wrapper {
  margin: auto;
  display: flex;
  text-align: initial;
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.hexagon-butter {
  position: relative;
  width: 46%;
  /* used with no border radius */
  width: 50%;
  /* used with 2 border radius */
  height: 80%;
  margin: auto;
  color: purple;
  background: blue;
  border-radius: 10px;
  /* background: linear-gradient(-180deg, purple, #fda3b2); */
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.5s;
}

.hexagon-butter:before,
.hexagon-butter:after {
  position: absolute;
  content: "";
  background: inherit;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  transition: 0.5s;
  transform-origin: center;
}
.hexagon-butter:before {
  transform: rotate(60deg);
}
.hexagon-butter:after {
  transform: rotate(-60deg);
}
.hexagon-butter:hover {
  transform: rotate(30deg);
  /* border-radius: 50px; */
  transition: 0.5s;
}
/* .hexagon-butter:hover:before {
  border-radius: 50px;
  transition: 0.5s;
}
.hexagon-butter:hover:after {
  border-radius: 50px;
  transition: 0.5s;
} */

/* hex grid */
.hex-grid {
  display: flex;
}

.hex-con {
  /* margin: auto; */
  display: flex;
  text-align: initial;
  width: 200px;
  height: 200px;
}

.hex-but {
  position: relative;
  width: 46%;
  /* used with no border radius */
  height: 80%;
  margin: auto;
  background: blue;
  /* background: linear-gradient(-180deg, purple, #fda3b2); */
}

.hex-but:before,
.hex-but:after {
  position: absolute;
  content: "";
  background: inherit;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  transform-origin: center;
}
.hex-but:before {
  transform: rotate(60deg);
}
.hex-but:after {
  transform: rotate(-60deg);
}
.hex-con {
  /* margin: auto; */
  display: flex;
  text-align: initial;
  width: 200px;
  height: 200px;
}

.hex-new {
  position: relative;
  width: calc(150px * 0.645);
  height: 150px;
  margin: auto;
  background-color: teal;
  border-radius: calc((150px / 10));
  transform: rotate(90deg);
}

.hex-new:before,
.hex-new:after {
  position: absolute;
  content: "";
  background: inherit;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  transform-origin: center;
}
.hex-new:before {
  transform: rotate(60deg);
}
.hex-new:after {
  transform: rotate(-60deg);
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
:root {
  --hex-size: 200px;
}
.display {
  display: flex;
  justify-content: space-around;
}

.hex-container {
  height: calc(var(--hex-size) * 1);
  width: calc(var(--hex-size) * 1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

/* butterfly hexagon */
.hex-b {
  position: relative;
  width: calc(var(--hex-size) * 0.58);
  height: var(--hex-size);
  margin: auto;
  background-color: darkred;
  border-radius: calc(var(--hex-size) / 3);
}

.hex-b:before,
.hex-b:after {
  position: absolute;
  content: "";
  background-color: inherit;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  transform-origin: center;
  border: inherit;
}
.hex-b:before {
  transform: rotate(60deg);
}
.hex-b:after {
  transform: rotate(-60deg);
}

/* a lot of radius */
.hex-l {
  position: relative;
  width: calc(var(--hex-size) * 0.73);
  height: var(--hex-size);
  margin: auto;
  background-color: pink;
  border-radius: calc((var(--hex-size) / 5));
}

.hex-l:before,
.hex-l:after {
  position: absolute;
  content: "";
  background: inherit;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  transform-origin: center;
}
.hex-l:before {
  transform: rotate(60deg);
}
.hex-l:after {
  transform: rotate(-60deg);
}

/* medium border hex */
.hex-m {
  position: relative;
  width: calc(var(--hex-size) * 0.65);
  height: var(--hex-size);
  margin: auto;
  background-color: steelblue;
  border-radius: calc((var(--hex-size) / 10));
  transform: rotate(30deg);
}
.hex-m:before,
.hex-m:after {
  position: absolute;
  content: "";
  background-color: inherit;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  transform-origin: center;
}
.hex-m:before {
  transform: rotate(60deg);
}
.hex-m:after {
  transform: rotate(-60deg);
}

/* half the of radius */
.hex-s {
  position: relative;
  width: calc(var(--hex-size) * 0.615);
  height: var(--hex-size);
  margin: auto;
  background-color: goldenrod;
  border-radius: calc((var(--hex-size) / 20));
}

.hex-s:before,
.hex-s:after {
  position: absolute;
  content: "";
  background: inherit;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  transform-origin: center;
}
.hex-s:before {
  transform: rotate(60deg);
}
.hex-s:after {
  transform: rotate(-60deg);
}

/* no border radius */
.hex-n {
  position: relative;
  width: calc(var(--hex-size) * 0.58);
  height: var(--hex-size);
  margin: auto;
  background-color: teal;
  border-radius: calc((var(--hex-size) / 225));
}

.hex-n:before,
.hex-n:after {
  position: absolute;
  content: "";
  background: inherit;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  transform-origin: center;
}
.hex-n:before {
  transform: rotate(60deg);
}
.hex-n:after {
  transform: rotate(-60deg);
}
/*  






*/
.page {
  height: 200vh;
  width: 100vw;
}
.grid {
  width: 100vw;
  margin: 100px;
}
.row {
  width: 100%;
  display: flex;
  margin-bottom: calc(0px - calc(var(--hex-size) * 0.15));
}

.even {
  margin-left: calc(calc(var(--hex-size) / 2) + 5px);
}

.grid-column {
  display: flex;
}

.column {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-right: calc(0px - calc(var(--hex-size) * 0.15));
}

.even-col {
  margin-top: calc(calc(var(--hex-size) / 2) + 5px);
}
